@use '../module/mixin';
@use '../module/colors';

#detail{
  .titleArea{
    margin: 0 0 30px;
    padding: 0 0 15px;
    border-bottom: 1px solid colors.$darkgray;
  }
  .title{
    font-size: 24px;
    font-weight: 500;
    @media only screen and (max-width: 768px){
      margin: 0 0 10px;
      font-size: 20px;
    }
  }
  .dateData{
    @include mixin.date($margin: 0 0 15px);
    @media only screen and (max-width: 768px){
      font-size: 14px;
    }
  }
  .tags{
    margin: 0 0 10px;
    @include mixin.tags($font-size:16px);
  }
  .category{
    @include mixin.category;
  }
  img{
    margin: 0 auto 20px;
  }
}